<div class="row">
  <div class="col-md-4">
    <img src="/images/404.jpg" class="img-responsive" alt="404 image"></img>
    <h1 style="text-align:center">我在哪儿？？</h1>
  </div>
  <div class="col-md-8">
    <h1>404 not found</h1>
  </div>
</div>