 <div class="aboutHead">
 	<div class="row">
  <h2>About IBlog Forum</h2>
  </div>
 </div>
<div class="jumbotron">
 <div class="row">
   <div class="post">
     <p>In April 2012, ISO, the international standards body which had already given us the core media foundations of MPEG-2, MP3 and MP4, finally ratified the version of its next generation adaptive streaming standard: MPEG-DASH. In an industry besieged by three comparable (but incompatible) segmented formats many asked – why another? The participating companies in the MPEG-DASH standardization (including Microsoft, Apple, Netflix, Qualcomm, Ericsson, Samsung, and many others) saw a vision of interoperability and convergence required for large-scale market growth that trumped the proprietary and competing solutions. They replaced multiple corporation-controlled solutions with a single industry-defined open standard.
     </p>
      <p>In April 2012, ISO, the international standards body which had already given us the core media foundations of MPEG-2, MP3 and MP4, finally ratified the version of its next generation adaptive streaming standard: MPEG-DASH. In an industry besieged by three comparable (but incompatible) segmented formats many asked – why another? The participating companies in the MPEG-DASH standardization (including Microsoft, Apple, Netflix, Qualcomm, Ericsson, Samsung, and many others) saw a vision of interoperability and convergence required for large-scale market growth that trumped the proprietary and competing solutions. They replaced multiple corporation-controlled solutions with a single industry-defined open standard.
     </p>
   </div>
  </div>
  <!--p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p-->
</div>