<div class="row">
	<div class= "col-md-12">
		<textarea class="row" ng-model="content.md">
		</textarea>
		<btf-markdown class="row">
		{{content.md}}
		</btf-markdown>
		<div btf-markdown="content.md">
		</div>
	</div>
</div>