<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <a href="/">
        <img src="/images/iblog-100.png" class="img-rounded" alt="Responsive image"/>
      </a>
    </div>
    <div class="col-xs-4"></div>
    <!--div class="col-xs-3"></div-->
    <div class="col-xs-4">
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <button ng-if="show.login" type="submit" class="btn btn-default">
            <a href="/login">登录</a>
          </button>
          <a ng-if="show.userName" role="presentation"  href="#">{{user.userName}}</a>
          <button ng-if="show.share" type="submit" class="btn btn-default">分享</button>
          <button ng-if="show.email" type="submit" class="btn btn-default">邮件</button>
          <button ng-if="show.signup" type="submit" class="btn btn-default">
            <a href="/signup">注册</a>
          </button>
        <button ng-if="show.logout" type="submit" class="btn btn-default" ng-click="signOut()">退出</button>
        </form>
      </div>
      <div ng-if="show.search" class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Search Here"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/aboutUs">AboutUs</a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Members</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Clients</a>
      </div>
    </div>
  </nav>
</div>