<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <a href="/">
        <img src="/images/iblog-100.png" class="img-rounded" alt="Responsive image"/>
      </a>
    </div>
    <div class="col-xs-4"></div>
    <!--div class="col-xs-3"></div-->
    <div class="col-xs-4">
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
         <button ng-if="show.login" type="submit" class="btn btn-default">
            <a href="/login">登录</a>
         </button>
         <a ng-if="show.userName" role="presentation"  href="#">{{user.userName}}</a>
         <button ng-if="show.share" type="submit" class="btn btn-default">分享</button>
         <button ng-if="show.email" type="submit" class="btn btn-default">邮件</button>
         <button ng-if="show.signup" type="submit" class="btn btn-default">
            <a href="/signup">注册</a>
         </button>
         <button ng-if="show.logout" type="submit" class="btn btn-default" ng-click="signOut()">退出</button>
        </form>
      </div>
      <div ng-if="show.search" class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Search Here"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-home" aria-hidden="true">HOME</span>
        </a>
      </div>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <!--div class="col-xs-9">
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-xs-3">
        <ul class="nav navbar-nav">
          <li><a ng-if="show.client"  href="#">CLIENT</a></li>
          <li><a ng-if="show.myblog"  href="/myblog">MY BLOG</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="nav navbar-nav">
          <li><a  href="/topics">TOPICS</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="nav navbar-nav navbar-right">
          <li><a  href="/aboutUs">ABOUT</a></li>
        </ul>
      </div>
    </div--><!-- /.navbar-collapse -->
   <!--/div>
  </div-->
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ng-if="show.client" class="navbar-brand" href="#">CLIENT</a>
        <a ng-if="show.myblog" class="navbar-brand" href="/myblog">MY BLOG</a>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/topics">TOPICS</a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/aboutUs">ABOUT</a>
      </div>
    </div>
  </nav>
</div>