<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
-->

<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/aboutHead.css" rel="stylesheet">
    <link href="/css/page_nav.css" rel="stylesheet">
    <link href="/css/btns_article.css" rel="stylesheet">
    <link href="/css/subject.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<% include header.ejs%>
    <div class="container">
    	<div ng-view></div>
    </div>
    <% include footer.ejs%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- Angular component-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>

    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/showdown/compressed/showdown.js"></script>
    <script src="lib/showdown/compressed/extensions/github.min.js"></script>
    <script src="lib/showdown/compressed/extensions/twitter.min.js"></script>

    <script src="lib/angular-markdown-directive/markdown.js"></script>
    <script src="lib/Base64.js"></script>

    <script src="ng/app.js"></script>
    <script src="ng/controllers.js"></script>
    <script src="ng/filters.js"></script>
    <script src="ng/services.js"></script>
    <script src="ng/directives.js"></script>
   
    <!-- 代码片段 -->
<script type="text/javascript">
$('.selectpicker').selectpicker();
  $('.selectpicker').selectpicker({
      style: 'btn-info',
      size: 4
  });
</script>
  </body>
</html>