<div class="row">
  <div class="col-xs-3 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/myblog">文章管理</a></li>
        <li><a href="">类别管理</a></li>
        <li><a href="">评论管理</a></li>
        <li><a href="">BLOG配置</a></li>
        <li><a href="">博客栏目</a></li>
        <li><a href="">草稿箱</a></li>
        <li><a href="">回收站</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/article-editor" style="color:red;">+写新文章<span class="sr-only">(current)</span></a></li>
        <li><a href="#" style="color:red;">+博客搬家</a></li>
    </ul>

  </div>
  <div class="col-xs-9 main">
      <h4 class="page-header">{{user.userName}}的文章列表</h4>

类别：
        <select class="selectpicker">
          <option>ALL</option>
          <option>NEWS</option>
          <option>CULTURE</option>
          <option>HISTORY</option>
          <option>GEOGRAPHY</option>
          <option>TRAVELLING</option>
          <option>ENTERTAINMENT</option>
          <option>MUSIC</option>MUSIC
  </select>
      <table class="table table-striped table-hover">
        <thead> 
          <tr class="">
            <th class="tdleft">标题</th>
            <th style="width:50px;">状态</th>
            <th style="width:50px;">阅读</th>
            <th style="width:50px;">评论</th>
            <th style="width:170px;">操作</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles">
               <td>{{article.title}}</td>
               <td>{{article.status}}</td>
               <td>{{article.visits}}</td>
               <td>10</td> 
               <td>
                 <a href="/article-editor">编辑</a> | 
                 <a href="/article-editor">置顶</a> | 
                 <a href="/article-editor">删除</a> 
               </td>
            </tr>
           </tbody>
     </table>
     <div class="page_nav"><span> 6条数据  共1页</span><strong>1</strong> </div>
    </div>
  </div>

        </div>
</div>
<!--div class="row">
  <div class="col-xs-7">
   <ul class="nav nav-tabs">
    <li role="presentation" class="active btn btn-primary">文章管理</button></li>
    <li role="presentation" class="btn btn-warning">类别管理</button></li>
    <li role="presentation"  class="btn btn-success">评论管理</button></li>
    <li role="presentation"  class="btn btn-info">BLOG配置</button></li>
    <li role="presentation"  class="btn btn-warning">博客栏目</button></li>
    <li role="presentation"  class="btn btn-success">草稿箱</button></li>
    <li role="presentation"  class="btn btn-default">回收站</button></li>
   </ul>
   </div>
   <div class="col-xs-5">
   	<button type="button" class="btn btn-danger">+写新文章</button>
   	<button type="button" class="btn btn-danger">+博客搬家</button>
   </div>
</div>


<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form-->
