  
  <div class="row">
     <div class="col-xs-3 sidebar">
      <ul class="nav nav-sidebar">
          <li class="active"><a href="/myblog">文章管理</a></li>
          <li><a href="/subjectManagement">类别管理</a></li>
          <li><a href="">评论管理</a></li>
          <li><a href="">BLOG配置</a></li>
          <li><a href="">博客栏目</a></li>
          <li><a href="">草稿箱</a></li>
          <li><a href="">回收站</a></li>
      </ul>
      <ul class="nav nav-sidebar">
          <li class="active"><a href="/article-editor" style="color:red;">+写新文章<span class="sr-only">(current)</span></a></li>
          <li><a href="#" style="color:red;">+博客搬家</a></li>
      </ul>
    </div>
    <div class="col-xs-9 main">
      <h4 class="page-header">类别管理</h4>
      <table class="table table-striped table-hover">
        <thead> 
          <tr class="">
            <th class="tdleft">类别</th>
            <th style="width:120px;">文章</th>
            <th style="width:100px;">操作</th>
            <th style="width:100px;">排序</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subject in subjects"><!--对象的集合-->
              <td><!--此处根据subject.editEn决定启用哪个tag-->
                <label ng-if="!subject.editEn">{{subject.name}}</label><!--ng-if用于确定该标签是否存在，{{}}也可用ng-bind对数据进行绑定，但ng-bind要放与标签内部-->
                <input type="text" ng-if="subject.editEn" ng-model="tempSub.name"><!--ng-model用于对数据进行绑定，赋值给属性value,label标签不能使用{{}}进行数据绑定-->
                <a name="saveEdit" ng-if="subject.editEn" ng-click="saveEdit(subject)">保存</a>
                <a name="cancelEdit" ng-if="subject.editEn" ng-click="cancelEdit(subject)">取消</a>
              </td>
              <td>4</td>
              <td>
                 <a name="edit" ng-click="editSubjectName(subject)">编辑</a><!--此处启用编辑,ng-click用于判断该标签是否被点击-->
                 <a href="" name="del" onclick="">删除</a>
                 <br><span class="gray">显示</span>
                 <a href="" class="hide" onclick="">隐藏</a>
              </td>
              <td>
                <a type="button" aria-label="Left Align">
                 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">上移</span>
                </a>
                <a type="button" aria-label="Left Align">
                 <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">下移</span>
                </a>

              </td> 
            </tr>
        </tbody>
     </table>
     <div style="margin-top:20px;">
      <input id="txtCat" type="text" class="t_input" size="50" maxlength="30" ng-model="newSub.name">
      <input id="btnAdd" type="button" class="t_btn" value="添加分类" ng-click="creatSubject()">
      <input id="btnCancel" type="button" class="t_btn" value="取消修改" style="display:none;">
     </div>
  </div>